/* ここから下に記載していく */

@charset "utf-8";

/* 全てに適用させる */

body{
  color: #222222;
  font-size: 16px;
  width: 1200px;
  line-height: 2;
}
* {
  box-sizing: border-box;
}


.header{
  
  margin: 0 auto;
}



 ul {
   list-style:none;
 }
 
 .header__flex {
   display: flex;
   height: auto;
   align-items: center;
 }
 .header__flex nav {
   margin-left: auto;
 }
 .header__flex ul {
   display: flex;
 }
 .header__flex ul li {
   margin-left: 50px;
   margin-right: 50px;
 }
 
 .navigation a:link{
   color: #222222;
 }
 .navigation a:visited{
   color: #222222;
 }

 .navigation a:hover{
   color: #222222;
 }
 .navigation a:active{
  color: #222222;
}

/*  */

/**** main-image *****
**********************/


.main__image{
  position: relative;
}


.main__image p {
  position: absolute;
  color: #fff;
  top: 30%;
  left: 27%;
  font-size: 39px;
  padding-bottom: 30px;
  font-weight: bold;
}

.main__image img{
  width: 100%;
}

.name {
  position: absolute;
  color: #fff;
  top: 52%;
  left: 22%;
  font-size: 25px;
  letter-spacing: 5px;
  text-align: center;
}


/* about */

#about{
  text-align: center;
}
.course__title{
  margin:60px 0 0 30px;
  font-size:24px;
  font-weight: bold;
  color: #ffd61a;
  text-align: center;
}

.title {
font-size: 18px;
padding: 30px 0 60px 0;
}
.about-detail{
  font-size: 16px;
  padding: 0 0 30px 0;
  text-align: center;
}
.about-detail_2{
  padding: 40px 0 40px 0;
}
.about-image{
  display: flex;
  flex-wrap: wrap;
}
.about-image li{
width: calc(100%/4);
}

.about-image li img{
  max-width: 100%;
  height: auto;
  padding-top: 80px;
}


/* course */


.profile__text{
  font-size: 16px;
  padding-bottom: 60px;
 
}
.about__title {
  text-align: center;
  color: #222222;
  font-weight: bold;
  font-size: 24px;
  padding-top: 60px;

}
.profile__text{
  text-align: center;
}
.course__about {
  margin: 10px 0;
  width: 100%;
}
.container {
  width: 1200px;
  margin: auto;
}
div {
  display: block;
}


.course-wrapper .timages {
  margin-top: 60px;
}

.ibox1, .ibox3 {
  display: flex;
}

.ibox1 .img {
  width: 50%;
}

.ibox1 .img img {
  width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}
.text-right {
  background-color: #fafafa;
  width: 50%;
}

.ibox1 .text1 {
  margin-top: 120px;
  margin-left: 50px;
}

.ibox1 .text1 .t1 {
  font-size: 24px;
  font-weight: bold;
}

.ibox1 .text2 {
  margin-top: 40px;
  margin-left: 50px;
}
.ibox1 .text2 .t2 {
  font-size: 16px;
}
/* ibox2 */
.ibox2 {
  display: flex;
  position: relative;
}
.text-left {
  background-color: #fafafa;
  width: 50%;
}
.ibox2 .text3 {
  margin-top: 120px;
  margin-left: 100px;
}

.ibox2 .text3 .t1 {
  font-size: 24px;
  font-weight: bold;
}

.ibox2 .text4 .t3 {
  font-size: 16px;

}

.ibox2 .text4 {
  margin-top: 40px;
  margin-left: 100px;
  margin-bottom: 30px;

}
.ibox2 .img {
  width: 50%;
  position: absolute;
  right: 0;
}

.ibox2 .img img {
  width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}


/* ibox3 */
.ibox3 .img img {
  
  object-fit: cover;
 
}

.t2{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.ibox3 .text1 .t1 {
  font-size: 24px;
  font-weight: bold;
}
.ibox3 .text2 .t2 {
  font-size: 16px;
}
.ibox3 .text1 {	
  margin-top: 120px;	
  margin-left: 50px;	
  }

  .ibox3 .text2 {	
    margin-top: 40px;	
    margin-left: 50px;	
    }

    
/* news */
.news__title{
  
  font-size: 24px;
  color: #ffd61a;
  font-weight: bold;
  text-align: center;
  padding: 60px 0 30px 0;
}

.news__list{
  display: flex;
  margin: 0 0 60px 0;
  justify-content: center;
}

.news__item{
  padding-right: 30px;
  
}
.news__eyecatch{
padding-bottom: 30px;
}

.news__contents{
  text-align: left;
  font-size: 14px;
}
.date{
  padding-bottom: 24px;
}
.h3 {
  font-size: 16px;
  width: 300px;
  text-align: left;
}
.news__heading{

line-height: 1.75;
}

.news__detail{
margin: 0 0 40px;
line-height: 2;
text-align: justify;
text-align: inter-deograph;
}

.btn{
  display: block;
  width: 300px;
  margin: auto;
  padding: 21px 0;
  background-color: #ffd61a;
  color: #fff;
  font-size: 18px;
  text-align: center;
  
}

.more{
  padding: 0 0 60px 0;
 
}
/* access */
#access{
  background-color: #fafafa;
  text-align: center;
}
.access__title{
  padding: 60px 0 30px 0;
  font-size: 24px;
  font-weight: bold;

}
.company{
  font-size: 18px;
  padding-bottom: 60px;
}
.info{
  display: inline-block;
  text-align: left;
  padding-bottom: 60px;
  padding-top: 60px;
}

table.info th{
line-height: 50px;
padding-bottom: 30px;
}

.info td{
padding-left: 80px;
padding-bottom: 30px;
line-height: 50px;
}

/* contact */
.contact{
  padding: 60px 0 0 0;
ib
  font-size: 16px;
}
.contact__title{
  margin: 0 0 30px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.contact-title{
  padding-bottom: 60px;
  text-align: center;
  font-size: 18px;
}
.contact-detail{
font-size: 16px;
text-align: center;
padding-bottom: 30px;
}
.contact-detail_2{
  padding: 0 0 70px 0;
  text-align: center;
}

.btn{
  display: block;
  width: 300px;
  height: 60px;
  margin: auto;
  padding: 10px;
  background-color: #ffd61a;
  color: #fff;
  font-size: 18px;
  text-align: center;
}

.wrapper a:link{
  color: #fafafa;
}
.wrapper a:visited{
  color: #fafafa;

}
.wrapper a:hover{
  color: #fafafa;
}
.wrapper a:active{
  color: #fafafa;
}
.form-wrapper{
  margin: 0;
}

.form-inner{
  display: flex;
  flex-wrap: wrap;
  margin: 30px;
  width: 400px;
}
.form-title{
  width: 240px;
  margin: 0 64px 0 0;
  padding: 8px 0 0 0;
  
}

.choise{
  width: 492px;
  box-sizing:border-box;
}


 
table {
  border-collapse: collapse;
}
 
/* p {
  font-size: 16px;
  text-align: center;
  margin: 60px auto 40px;
} */
 
input[type="submit"],
input[type="text"],
select,
textarea,
button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  border: none;
}
 
 
input[type="text"],
textarea {
  background: #f8f8f8;
  display: block;
  font-size: 16px;
  padding: 12px 15px;
  width: 480px;
  transition: 0.8s;
  border-radius: 0;
}
 
input[type="text"]:focus,
textarea:focus {
  background: #e9f5fb;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
 
textarea[name="content"] {
  display: inline-block;
  width: 100%;
  height: 200px;
}
 
input::placeholder,
textarea::placeholder {
  color: #ccc;
}
 
::-webkit-input-placeholder {
  color: #ccc;
  opacity: 1;
}
 
::-moz-placeholder {
  color: #ccc;
  opacity: 1;
}
 
:-ms-input-placeholder {
  color: #bfbfbf;
  opacity: 1;
}
 
.form-table{
 margin: auto;
 
}
 
.form-table th,
.form-table td {
  border-top: 1px solid #bfbfbf;
  border-bottom: 1px solid #bfbfbf;
  padding: 10px;
}
 
.form-table th {
  background: #ffffe0;
  padding-left: 50px;
  position: relative;
  text-align: left;
  width: 300px;
  vertical-align: top;
}


 input[type*="checkbox"]{
  margin: 0 30px 24px 0;

}
.btn-submit{
  -webkit-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  
}
.send{
  padding-top: 30px;
  padding-bottom: 140px;
}
/* footer */

.footer{
  padding: 30px 0 30px 0;
  background-color: #707070;
  text-align: center;
}
.copyrights{
  color: #fff;
}
